.content{
    max-width: 500px;
    margin:auto;
}
.hero-image {
  background-image: linear-gradient(rgba(130, 231, 135, 0.5), rgba(158, 228, 149, 0.5)), url("./img/fastfood.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body{
    background-image: url("../img/fork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:100%;
    width:100%;   
}

h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding:20px;
}
h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding:20px;
}
.topnav{
    overflow: hidden;
    width: 235px;
    margin:auto;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
p{
    text-align: center;
    font-family: 'Concert One';
    color: rgb(243, 250, 247);
}
.list {
    text-align: center;
    font-family: 'Concert One';
    margin-bottom: 20%;
    color:rgb(233, 243, 236)
}
.image{
    text-align: center;
}
.fastfood{
    text-align: center;
}
.doors{
    text-align: center; 
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    /* display: inline-block; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    row-gap: 15px;
    column-gap: 10px;
}

.fa-brands{
    color:rgb(234, 243, 236);  
    font-size: 40px;
    padding:5px;
    margin:20px;
    display:flex;
    column-gap: 5px;
    justify-content: center;
    flex-wrap:wrap;  
}
.fa-solid{
    color:rgb(0, 0, 0);  
    font-size: 40px;
    padding:5px;
    margin:20px;
    margin-top: 400px;
    display:flex;
    column-gap: 5px;
    justify-content: center;
    flex-wrap:wrap; 
}
a{
    text-decoration: none;
}
video{
   margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display:block;
}
h3{
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:300px;
    height: auto;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  footer {
    text-align: center;
    background-color: rgb(9, 114, 32);
    color: white;
    background-image: url(../img/fork.jpg);
  }
  .recipes{
    text-align: center;
  }
  .resturant{
    text-align: center;
  }